extends layout

block content
  head
    title My Account
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    // Menu de navigation
    nav.navbar
      ul.navbar-menu
        li
          a(href="/home") Home

    
    .user-info
    h1 Bienvenue, #{user.username}
    p Username : #{user.username}
    p Last Name : #{user.last_name}
    p First Name : #{user.first_name}
    p Role : #{user.role}
    p Birth date : #{user.birth_date}

    // Pied de page
    footer
      p &copy; 2024 Votre Application. Tous droits réservés.
