extends layout

block content
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
  body
    main
      h3 Événements disponibles :
      // Filtrage et tri des événements
      form(method="get" action="/home")
        select(name="filter")
          option(value="") -- Choisissez un thème --
          option(value="Music" selected=(filter === "Music" ? 'selected' : '')) Music
          option(value="Sports" selected=(filter === "Sports" ? 'selected' : '')) Sports
          option(value="Art" selected=(filter === "Art" ? 'selected' : '')) Art
        button(type="submit") Filtrer

        select(name="sort")
          option(value="") -- Trier par --
          option(value="date" selected=(sort === "date" ? 'selected' : '')) Date
          option(value="price" selected=(sort === "price" ? 'selected' : '')) Prix
        button(type="submit") Trier

      // Liste des événements
      if events && events.length > 0
        ul
          each event in events
            li
              h3 #{event.name}
              p Date : #{event.event_date}
              p Prix : #{event.price}€
              p Thème : #{event.theme}
      else
        p Aucune événement disponible pour le moment.
